{% extends 'registration/password_change_form.html' %}

{% load widget_tweaks %}

{% block title %}密码修改成功{% endblock %}

{% block update-user-info-title %}密码修改成功{% endblock %}

{% block userUpdateForm %}
    <h5 style="color: red">{{ data.message }}</h5>
    <h2 class="mdl-card__title-text" style="padding-bottom: 500px">还有<span id="second"></span>秒自动跳转到 <a href="{% url 'login' %}"><span id="link">登录页面...</span></a> </h2>
{% endblock %}

{% block script_content %}
    <script>
        var time = 5;
        function upTime(){
            document.querySelector('#second').innerHTML = time;
            time--;
            if(time == 0){
                document.querySelector('#link').click();
                clearInterval(timer)
            }
        }
        timer = setInterval('upTime()',1000)
    </script>
{% endblock %}