{% extends 'underlord/update.html' %}

{% load widget_tweaks %}

{% block title %}账户设置{% endblock %}

{% block update-user-info-title %}账户设置{% endblock %}

{% block update-user-info-leftbar %}
    <a href="{% url 'underlord:update_user' %}"><div class="update-user-info-leftbar-3">基本资料</div></a>
    <a href="{% url 'password_change' %}"><div class="update-user-info-leftbar-2">账户</div></a>
{% endblock %}

{% block userUpdateForm %}
    <form class="form" action="{% url 'password_change' %}" method="post" style="width: 60%">
        {% csrf_token %}
        <div class="update-user-info-content">
            <div class="update-user-info-flied">
                {{ form.non_field_errors }}
                <h5 style="color: red">{{ data.message }}</h5>

                <strong>{{ form.old_password.label_tag }}</strong><br>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.old_password | add_class:'mdl-textfield__input' }}
                    <label class="mdl-textfield__label" for="sample1">请输入旧密码...</label>
                </div>
                {{ form.old_password.errors }}
                <br>

                <strong>{{ form.new_password1.label_tag }}</strong><br>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.new_password1 | add_class:'mdl-textfield__input' }}
                    <label class="mdl-textfield__label" for="sample1">请输入新密码...</label>
                </div>
                {{ form.new_password1.errors }}
                {{ form.new_password1.help_text|safe }}
                <br>
                <strong>{{ form.new_password2.label_tag }}</strong><br>
                <div class="mdl-textfield mdl-js-textfield">
                    {{ form.new_password2 | add_class:'mdl-textfield__input' }}
                    <label class="mdl-textfield__label" for="sample1">请再次输入新密码...</label>
                </div>
                {{ form.new_password2.errors }}
                <br>
                <button type="submit" id="demo-show-toast"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        style="background-color: #009688 !important">确认修改</button>
                <input type="hidden" name="next" value="{{ next }}"/>
            </div>
        </div>
    </form>
{% endblock %}