.topic-contents{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
}
.topic-contents-head{
    width: 100%;

}
.topic-contents-head-circle{
    border-bottom: 1px solid #eff0f1;
}
.topic-head-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topic-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topic-mainbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.topic-host{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.js-voting-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}