.page-content-main{
    width: 80%;
    padding-left: 2%;
    display: flex;
    flex-direction: row;
}
.left-sidebar{
    width: 16%;
    border-right: 1px solid rgb(204, 204, 204);
    /*box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);*/
}
.left-sidebar-content > li{
    background-color: #45A163;
}
.contents{
    /*padding-left: 20px;*/
    width: 70%;
    display: flex;
    flex-direction: column;
}
.contents-head{
    width: 100%;
    border-bottom: 1px solid #eff0f1;
}
.contents-head-circle{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.head-title{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#btn_new_topic{
    background: #0366d6;
    color: #ffffff;
}
.span_topic_num{
    color: #0366d6;
}

/*单个主题样式*/
.topic-summary{
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eff0f1;
}
.stats-container{
    font-size: 12px;
    padding-left: 20px;
    width: 65px;
    display: flex;
    flex-direction: column;
}
.likes-stats-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.answered-stats{
    border: 1px solid #45A163;
    border-radius:3px;
}
.answered-stats-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    color: #45A163;
}
.view-stats-circle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}

.summary{
    width: 100%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.summary-title-content{
    font-size: 16px;
    color: #1b9dec;
    margin: 0;
}
.excerpt{
    padding-top: 15px;
}
.summary-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.tags{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.tags-content{
    margin-right: 10px;
}
.tag{
    font-size: 12px;
    border-radius:3px;
    /*box-shadow: 7px 7px 5px #888888;*/

}
.tag-bg{
    padding: 2px;
}
.tag-bg > a{
    color: #ffffff;
}

.author-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.author-content{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.author-avatar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.avatar-img{
    /*margin-top: 5px;*/
    height: 32px;
    width: 32px;
}
.author-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}
.created-time{
    font-size: 12px;
}
/*单个主题样式结束*/


/*.sidebar-list{*/
    /*!*height: 10%;*!*/
/*}*/