{% extends 'base.html' %}

{% block title %} 学习交流 {% endblock %}

{% block content %}
    <div style="text-align: center">
{#        <button class="btn btn-default"><a href="{% url 'rubick:new_topic' %}">新建主题</a></button>#}
        {% for topic in all_topics %}
            <div>
                <h5><a href="{% url 'rubick:get_topic_detail' %}?topic_id={{ topic.topic_id }}">{{ topic.title }}</a></h5>
                <p>{{ topic.starter }}  {{ topic.created_at }}</p>
                {% for tag in topic.tags %}
                    <span style="background-color: {{ tag.color }};">{{ tag.tag }}</span>
                {% endfor %}
            </div>
{#            {% autoescape off %}#}
{#                {{ topic.subject }}#}
{#            {% endautoescape %}#}
        {% endfor %}
    </div>



    <div class="page-content-main">
        <div class="left-sidebar">
            <div class="left-sidebar-content">
                <ol>
                    <li>首页</li>
                    <li>主题板块</li>
                    <li>标签</li>
                    <li>用户</li>
                </ol>
            </div>
        </div>
        <div class="contents">
            <div class="contents-head">
                <div class="contents-head-circle">
                    <div class="head-title">
                        <h5>主题标签</h5>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            新建主题
                        </button>
                    </div>
                    <div>
                        <p>超过269个主题</p>
                        <p>HTML is related to but different from <span id="xml"><i>XML</i></span>.</p>
                        <span class="mdl-tooltip" for="xml">
                        <img src="xml-logo-small.png" width="20" height="10"> eXtensible Markup Language</span>
                    </div>
                </div>

            </div>

            <div class="contents-content">
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar">
                                        <img class="avatar-img" src="http://120.79.209.94:9000/static/background.png">
                                    </div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="topic-summary">
                    <div class="stats-container">
                        <div class="like-stats">
                            <div class="likes-stats-circle">
                                <span class="likes"><strong>4</strong></span>
                                <div class="viewcount">喜欢</div>
                            </div>
                        </div>
                        <div class="answered-stats">
                            <div class="answered-stats-circle">
                                <span class="answers"><strong>0</strong></span>
                                <div class="viewcount">回答</div>
                            </div>
                        </div>
                        <div class="view-stats">
                            <div class="view-stats-circle">
                                <span class="views"><strong>11</strong></span>浏览
                            </div>
                        </div>
                    </div>
                    <div class="summary">
                        <div class="summary-title">
                            <h5 class="summary-title-content">
                                <a href="#">Spring injects @Autowired fields during manual class instantiation</a>
                            </h5>
                        </div>
                        <div class="excerpt">
                            <p>
                                A Material Design Lite version of the current android.com site, using the same content with a horizontal navigation, feature carousel and long form scrolling sub pages.
                            </p>
                        </div>
                        <div class="summary-info">
                            <div class="tags">
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">计算机科学与技术</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tags-content">
                                    <div class="tag">
                                        <div class="tag-bg">
                                            <a href="#">Java</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="author-info">
                                <div class="author-content">
                                    <div class="author-avatar"></div>
                                    <div class="author-msg">
                                        <div class="author-name">invoker</div>
                                        <div class="author-answers">1024</div>
                                    </div>
                                </div>
                                <div class="created-time">25/Dec/2018 10:56:21</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}