{% extends 'base.html' %}

{% block title %} 学习交流 {% endblock %}

{% block content %}
    <div style="text-align: center">
        <button class="btn btn-default"><a href="{% url 'rubick:new_topic' %}">新建主题</a></button>
        {% for topic in all_topics %}
            <div>
                <h5><a href="">{{ topic.title }}</a></h5>
                <p>{{ topic.starter }}  {{ topic.created_at }}</p>
            </div>
{#            {% autoescape off %}#}
{#                {{ topic.subject }}#}
{#            {% endautoescape %}#}
        {% endfor %}
    </div>
{% endblock %}