{% extends 'base.html' %}

{% block title %} base_board {% endblock %}

{% block content %}
    <div class="page-content-main">
        <div class="left-sidebar">
            <div class="left-sidebar-content">
                <ol style="line-height: 30px">
                    <li>
                        <a href="{% url 'index' %}" class="li-index" style="padding-left: 5%">
                            <span>首页</span>
                        </a>
                    </li>
                    <li style="background-color: #f3f3f3;border-right: 3px solid #0366d6;height: 30px;">
                        <a href="{% url 'rubick:home' %}" class="li-index" style="padding-left: 10%">
                            <span><strong>Moon Shard</strong></span>
                        </a>
                    </li>
                    <ol>
                        <li>
                            <a href="{% url 'underlord:to_all_tags' %}" class="li-tag">标签</a>
                        </li>
                        <li>
                            <a href="{% url 'underlord:to_all_users' %}" class="li-user">用户</a>
                        </li>

                    </ol>
                </ol>
            </div>
        </div>
        <div class="contents">
            <div class="contents-head">
                <div class="contents-head-circle">
                    <div class="head-title">
                        <h5><strong>{% block board_title %}board_title{% endblock %}</strong></h5>
                        <button id="btn_new_topic" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        onclick="window.location.href='{% block new_topic_url %}new_topic_url{% endblock %}'">
                            新建主题
                        </button>
                    </div>
                    <div>
                        <p>超过<span class="span_topic_num">{% block topic_num %}topic_num{% endblock %}</span>个主题</p>
                    </div>
                </div>

            </div>

            <div class="contents-content">
                {% block topic-summary %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}